@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
}

.container{

    background-color: rgb(197, 33, 33); 
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.box-logo{
    max-width: 110px;
    height: 60px;
    margin: auto;
}

.logo{
    width: 150px;
}

body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.link{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 0px;

}

.link:hover{
    color: white;
    border-bottom: 3px solid white;
    transition: 50ms;
    
}



#area-menu{
    padding-top: 15px;
    padding-bottom: 15px;
   
}

span{
    color: white;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white
}

::-webkit-scrollbar-thumb {
    background: red
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(197, 33, 33); 
}  


main{
    padding-top:40px;
    flex-direction: column;
    display: flex;
}

.title-principal{
    border-bottom: 3px solid red;
    max-width: 50%;
    padding-left: 20px;
}



.content{
    text-align: center;
    align-items: center;
    margin: auto;
    max-width: 7;
    flex-direction: column;
    max-width: 700px;
    max-height: 720px;
    margin-top: 4%;
    margin-bottom: 70PX;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
}

.box-title{
    padding: 20px;
}

.relevant-news{
    margin-bottom: 50px;
}

.image{
    max-width: 70%;
    border: 3px solid black;
}

.box-subtitle{
    margin: auto;
    max-width: 600px;
    text-align: justify;
    padding: 10px;
    margin-top: 5px;
}

.perfil{
    width: 70%;
    height: 50px;
    background-color: rgb(170, 170, 170);
    display: flex;
    /* border-radius: 0px 10px 10px 0px; */
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0px 2.5px 4px 2px rgba(0, 0, 0, 0.2);
}

.img-perfil{
    width: 30px;  
    height: 30px; 
    object-fit: cover;
    margin-top: 6px;
    border-radius: 20px;
    border: 2px solid rgb(197, 33, 33);
    padding: 2px;

}

.box-img-perfil{
    width: 40px; /* width of container */
    height: 40px;
    margin-left: 30px;
}


.name-perfil{
    width: 100%;
    font-size: 20px;
}

.box-name-perfil{
    max-width:200px;
    height: 60px;
    padding: 9px 10px 10px 10px;

}

.more-options{
    /* background: url('/img/background.png') ; */
    background-image: linear-gradient(rgb(207, 17, 17), rgb(104, 16, 16)); 
    /* background-image: linear-gradient(rgb(172, 170, 170),rgb(85, 84, 84)); */
    position: absolute;
    width: 16.7%;
    height: 500px;
    top: 260px;
   bottom: auto;
   margin-left: 83.3%;
   text-align: center;
    border-radius: 20px 0px 0px 20px;
    
    
}

.more-options li{
    list-style-type: none;
    padding: 15px;
    border-top: 2px solid rgba(211, 202, 202, 0.397);
   
    width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    margin-top: 7px;
    font-weight: 500;


}


.btn-more-options{
    text-decoration: none;
    color:white;
    

}

.btn-more-options :hover{
    background-color: white;
    color: red;
    border-radius: 10px;
    transition: 500ms;

}

@media (max-width: 1290px) {
    .more-options{
        visibility: hidden;
    }

    .small-news{
        visibility: hidden;
        
    }
    
    
}

.small-news li{
    list-style-type: none;

}

.small-news{
    position: absolute;
    margin-left: 81%;
    width: auto;
    top: 1100px;
    bottom: auto;
    

}

.small-news h2{
    border-bottom:2px solid red;

}

.small-news-box-image{
    max-width: 100px;
}

.small-news-box-image img{
    width: 100%;
    border: 2px solid black;
}

.content-small-news{
    display: flex;
   width: 300px;
   margin-top: 20px;
   border-bottom: 2px solid black;
   padding-bottom:5px ;

}

.box-subtitle-small-news{
    width: 50%;
    padding-left: 10px;
    

}

.box-subtitle-small-news p{
    width: 100%;
}

/* @media (max-width:1365px) {
    .small-news{
        visibility: hidden;
    }
    
} */


body{
    overflow-x: hidden;
}

